.ruby-version
.envrc
Gemfile.lock
doc/*
*.gem
*.yardoc
coverage/*

guide/tmp
guide/output
guide/*.log
guide/node_modules
guide/content/assets/fonts
guide/content/assets/images
guide/content/javascripts/*.js

crash.log
