.ruby-version
.envrc
Gemfile.lock
doc/*
*.gem
*.yardoc
coverage/*
crash.log

guide/tmp
guide/output
guide/*.log
guide/node_modules
guide/content/assets/fonts
guide/content/assets/images
guide/content/assets/rebrand
guide/content/assets/manifest.json
guide/content/javascripts/*.min.js
guide/content/javascripts/*.min.js.map
