@font-face {
  font-family: FiraMono;
  src: url(/assets/fonts/FiraMono-Regular.woff2) format("woff2"),
       url(/assets/fonts/FiraMono-Regular.woff) format("woff");
}

figure {
  border-left: 5px solid #1d70b8;
  padding-left: 2rem;
  margin: 2.5rem 0rem 4rem;
}

h3.example-subheading {
  margin: 1.5rem 0rem 0.5rem;
}

.example-output {
  border: 1px solid #f3f2f1;
  padding: 1.5rem 2rem 1rem;
  margin: 14px 0rem;
}

pre {
  overflow: auto;
  padding: 2rem;
  margin: 1rem 0rem;
}

pre > code.highlight {
  font-size: 1.2rem;
  font-family: FiraMono, monospace;
  word-wrap: normal;
}

p > code, li > code {
  background-color: #fff0f6;
  font-family: FiraMono, monospace;
  padding: 0.2rem 0.4rem;
}
