// GOV.UK colours used as a starting point, some darkened
// for additional contrast
//
// https://design-system.service.gov.uk/styles/colour/
$orange: darken(#f47738, 20%)
$dark-blue: #003078
$pink: darken(#d53880, 10%)
$text: #0b0c0c

pre > code
  &.highlight
    color: $text

    .s,.s1,.s2
      color: $pink

    .nt,.nf,.n
      color: $orange

    .p,.k,.no,.mi,.o,.na,.ss
      color: $dark-blue
