@import 'colours'

pre
  border: 1px dotted $light-grey
  border-radius: 5px

  code
    &.highlight
      color: $text

      .s,.s1,.s2,.vi
        color: $pink

      .nt,.nf,.nc,.no
        color: $orange

      .p,.k,.mi,.n,.o,.na,.ss
        color: $dark-blue
