pre { background-color: #0b0c0c }

.highlight .na,.ss { color: #5694ca }
.highlight .s,.s1,.s2      { color: #f499be }
.highlight .nt,.nf,.n { color: #f47738 }
.highlight .p,.k,.no,.mi,.o { color: #ffdd00  }


code.highlight {
  color: #ffdd00 ;
}

code.highlight::selection, code.highlight > span::selection {
  background: #d53880;
  color: black;
}
