<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <%= render '/partials/head.*' %>
  <body class="govuk-template__body ">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render '/partials/header.*' %>

    <div class="govuk-width-container">
      <%= render '/partials/phase-banner.*' %>
      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <%= yield %>
          </div>
        </div>

      </main>
    </div>

    <%= render '/partials/footer.*' %>
  </body>
</html>
