// GOV.UK Frontend options
$govuk-global-styles: true;
$govuk-assets-path: "/assets/";
$govuk-font-family: system-ui, sans-serif;
$govuk-brand-colour: #2288aa;
$govuk-link-colour: #006688;
$govuk-hover-colour: #004466;
$govuk-visited-colour: #333366;

// Import GOV.UK Frontend
@import "dist/govuk/all";

// Import GOV.UK Prototype Components
@import "x-govuk/components/masthead/masthead";

// Application components
@import "components/example";
@import "components/header";
@import "components/highlight";
@import "components/prose";

// Classes used in examples
.gradient-background {
  background: linear-gradient(
    90deg,
    rgba(184, 255, 255, 1) 0%,
    rgba(255, 152, 255, 1) 50%,
    rgba(255, 255, 108, 1) 100%
  );
  display: inline-block;
  padding: 2px govuk-spacing(1);
}

.purple-background {
  background: govuk-tint(govuk-colour("purple"), 80);
  display: inline-block;
  padding: 2px govuk-spacing(1);
}

.orange-background {
  background: govuk-tint(govuk-colour("orange"), 70);
  display: inline-block;
  padding: 2px govuk-spacing(1);
}

.final-decision-warning {
  @include govuk-font($size: 16, $weight: "bold");
  background: govuk-tint(govuk-colour("pink"), 80);
  color: govuk-shade(govuk-colour("pink"), 40);
  display: inline-block;
  padding: govuk-spacing(2) govuk-spacing(3);
}

.big-purple-button {
  background: govuk-colour("purple");
  border-radius: 0.3em;
  padding: 0.4em 2em;
  font-weight: bold;

  &:hover {
    background: govuk-tint(govuk-colour("purple"), 10%);
  }
}

.branded-background {
  background: govuk-colour(blue);
}
